.cover {
    max-width: 100%;
}
small {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}

.ItemListContainer__box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ItemListContainer__box .btn {
    width: 40px;
    border: 1px solid #f1f1f1;
}
.ItemListContainer__box p {
    width: 50px;
    margin: 0;
}
.btn-primary {
    width: 100%;
}
.producto {
    align-items: center;
}

@media (min-width: 768px){
    /* .producto .flex-md-row {
        flex-wrap: nowrap;
    }
    .col {
        width: 50%;
    }
    .col-auto {
        width: 50%;
    } */
}