.play {
    max-width: 120px;
    margin-bottom: 40px;
}

.titulo {
    font-size: 36px;
}
.precio {
    color: white;
    background-color: #222;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 20px;
    text-align: center;
}